<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fresh Kicks Landing Page</title> -->

<%- include('../partials/header') %>

    <!-- <style>
        body {
            background-image: url(https://i.imgur.com/G8MZVti.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center center;
            align-content: center;
        }
    </style> -->
    <a href="" class="brand-logo left">Fresh Kicks</a>
    <nav>

        <ul class="right">
            <li>
                <% if (user) { %>
                <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                <% } else { %>
                <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                <% } %>
            </li>
        </ul>
    </nav>
    <%- include('../partials/footer') %>
    <!-- </body>
</html> -->