<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fresh Kicks</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>

<body>
<div class="nav-wrapper-logged-in">
    <div>
        <h2 id="nav-text" >Welcome to Fresh Kicks</h2>
    </div>
    <% if (user) { %>
    <span><%= user.name %></span>
    <!-- <a href='/logout'>LOG OUT BUTTON</a> -->
    <form action="/logout" method='GET'>
        <input class="input" type="submit" value="LOGOUT">
    </form>
    <% } else { %>
    <form action="/auth/google" method='GET'>
        <input type="image" src="https://i.imgur.com/rPVMYLf.png">
    </form>
    <!-- <a href=“/auth/google”><i class=“material-icons left”>vpn_key</i>Login with Google</a> -->
    <% } %>
    <div id="add-shoe">
        <a href="/shoes/new">Add New Shoe</a>
    </div>
</div>

