<ul class=“right”>
    <li>
        <% if (user) { %>
        <span><%= user.name %></span>
        <!-- <a href='/logout'>LOG OUT BUTTON</a> -->
        <form action="/logout" method='GET'>
            <input type="submit" value="LOGOUT">
        </form>
        <% } else { %>
        <form action="/auth/google" method='GET'>
            <input type="submit" value="LOGIN">
        </form>
        <!-- <a href=“/auth/google”><i class=“material-icons left”>vpn_key</i>Login with Google</a> -->
        <% } %>
    </li>
</ul>