<%- include('../partials/header') %>
<form id="new-shoe-form" action="/shoes/new" method="POST">
    <label>Brand:</label>
    <input type="text" name="brand">
    <label>Model:</label>
    <input type="text" name="model">
    <label>Retail Price:</label>
    <input type="number" name="retailPrice">
    <label>Resale Price:</label>
    <input type="number" name="resalePrice">
    <label>Rating:</label>
    <select name="rating">
      <option value="fresh">Fresh</option>
      <option value="not fresh">Not Fresh</option>
    </select>
    <input type="submit" value="Add Shoe">
  </form>






<%- include('../partials/footer') %>